{% load static wagtailimages_tags wagtailcore_tags wagtailuserbar menu_tags blogapp_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
{% if settings.site_settings.SiteSettings.site_logo %}
		{% image settings.site_settings.SiteSettings.site_logo max-30x30 as icon_image %}
		<link rel="shortcut icon" href="{{ icon_image.url }}" />
{% endif %}
<title>{% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title|title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'assets/css/mediumish.css' %}" rel="stylesheet">
</head>
<body>

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	{% if settings.site_settings.SiteSettings.show_title_in_menu_bar %}
		{% if settings.site_settings.SiteSettings.site_name  %}
	<!-- Begin Logo -->
	<a class="navbar-brand" href="/">
	<h1 class="sitetitle">{{ settings.site_settings.SiteSettings.site_name  }}</h1>
	</a>
	<!-- End Logo -->
	{% endif %}
	{% endif %}
	{% if settings.site_settings.SiteSettings.show_in_menu_bar %}
		{% image settings.site_settings.SiteSettings.site_logo max-100x100 as icon_image %}
	<a class="navbar-brand" href="/">
	<img src="{{ icon_image.url }}" alt="{{ settings.site_settings.SiteSettings.site_name }}">
	</a>
	{% endif %}
	
	{% main_menu add_sub_menus_inline=True template="menu/main_menu.html" %}
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">{{ settings.site_settings.SiteSettings.site_name  }}</h1>
		{% if settings.site_settings.SiteSettings.caption  %}
		<p class="lead">
			 {{ settings.site_settings.SiteSettings.caption  }}
		</p>
		{% endif %}
	</div>
<!-- End Site Title
================================================== -->
 {% wagtailuserbar 'bottom-left' %}
{% block content %}
	

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="post.html">
						<div class="thumbnail" style="background-image:url(assets/img/demopic/4.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="post.html">San Francisco at its best view in all seasons</a></h2>
						<h4 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="author.html">Sal</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
								</span>
								<span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
	<div class="section-title">
		<h2><span>All Stories</span></h2>
	</div>
	<div class="card-columns listrecent">

		<!-- begin post -->
		<div class="card">
			<a href="post.html">
				<img class="img-fluid" src="{% static 'assets/img/demopic/5.jpg' %}" alt="">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="post.html">Autumn doesn't have to be nostalgic, you know?</a></h2>
				<h4 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="author.html">Sal</a></span><br/>
						<span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
						</span>
						<span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

	</div>
	</section>
	<!-- End List Posts
	================================================== -->
{% endblock content %}

	<!-- Begin Footer
	================================================== -->
	<div class="container-fluid bg-dark text-light footer pt-5">
        <div class="container">
            <div class="row g-5">
			     <div class="col-lg-4 col-6">
				 <h1>{{ settings.site_settings.SiteSettings.site_name  }}</h1>
				 {{ settings.site_settings.SiteSettings.caption  }}
                    <div class="d-flex pt-2">
						{% if settings.site_settings.SocialMediaSettings.twitter  %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.twitter }}"><i class="fab fa-twitter"></i></a>
						{% endif %}
						{% if settings.site_settings.SocialMediaSettings.facebook  %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.facebook }}"><i class="fab fa-facebook-f"></i></a>
						{% endif %}
						{% if settings.site_settings.SocialMediaSettings.pinterest %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.pinterest }}"><i class="fab fa-pinterest"></i></a>
						{% endif %}
						{% if settings.site_settings.SocialMediaSettings.linkedin  %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
						{% endif %}
                    </div>
                </div>
				<div class="col-lg-4 col-3">
				{% flat_menu template="menu/flat_menu.html" handle="footer" %}
				</div>
				<div class="col-lg-4 col-3">
				{% flat_menu template="menu/flat_menu.html" handle="services" %}
				</div>
            </div>
        </div>
	</div>
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; {% now 'Y' %} {{ settings.site_settings.SiteSettings.site_name  }}
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
