<!--profiles start -->
		<section id="{{ self.title }}" class="profiles">
			<div class="profiles-details">
				<div class="section-heading text-center">
					<h2>{{ self.title }}</h2>
				</div>
				<div class="container">
					<div class="profiles-content">
						<div class="row">
						{% for detail in self.profile %}
							<div class="col-sm-3">
								<div class="single-profile">
									<div class="profile-txt">
										{% if detail.link %}<a href="{{ detail.link }}">{% endif %}{% if detail.fontawesome_icon_tag %}<i class="{{ detail.fontawesome_icon_tag }}"></i></a>{% endif %}
										<div class="profile-icon-name">{{ detail.name }}</div>
									</div>
									<div class="single-profile-overlay">
										<div class="profile-txt">
											{% if detail.link %}<a href="{{ detail.link }}">{% endif %}{% if detail.fontawesome_icon_tag %}<i class="{{ detail.fontawesome_icon_tag }}"></i></a>{% endif %}
											<div class="profile-icon-name">{{ detail.name }}</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
							
						</div>
						
						</div>
					</div>
				</div>

		</section><!--/.profiles-->
		<!--profiles end -->